Creat Enivorment

In [1]:
pip install flask werkzeug

Requirement already satisfied: flask in e:\2\lib\site-packages (1.1.2)
Requirement already satisfied: werkzeug in e:\2\lib\site-packages (2.0.3)
Requirement already satisfied: click>=5.1 in e:\2\lib\site-packages (from flask) (8.0.4)
Requirement already satisfied: Jinja2>=2.10.1 in e:\2\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in e:\2\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: colorama in e:\2\lib\site-packages (from click>=5.1->flask) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in e:\2\lib\site-packages (from Jinja2>=2.10.1->flask) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
import seaborn as sns

import pickle

View Data

In [3]:
dataset=pd.read_csv('food_coded1.csv')
dataset.head(n=5)

,Gender,Meals,calories_day,coffee,drink,vegetable in Days,meals_dinner_friend
0,female,3,NaN,1,1.0,5,"rice, chicken, soup"
1,male,2,400.0,2,2.0,4,"Pasta, steak, chicken"
2,male,4,500.0,2,1.0,5,"chicken and rice with veggies, pasta, some kin..."
3,male,1,500.0,5,2.0,3,Grilled chicken \rStuffed Shells\rHomemade Chili
4,male,2,402.0,6,3.0,4,"Chicken Parmesan, Pulled Pork, Spaghetti and m..."

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               125 non-null    object
 1   Meals                125 non-null    int64
 2   calories_day         114 non-null    float64
 3   coffee               125 non-null    int64
 4   drink                123 non-null    float64
 5   vegetable in Days    125 non-null    int64
 6   meals_dinner_friend  122 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 7.0+ KB

Preprocessing Data

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               125 non-null    object
 1   Meals                125 non-null    int64
 2   calories_day         114 non-null    float64
 3   coffee               125 non-null    int64
 4   drink                123 non-null    float64
 5   vegetable in Days    125 non-null    int64
 6   meals_dinner_friend  122 non-null    object
dtypes: float64(2), int64(3), object(2)
memory usage: 7.0+ KB

In [6]:
dataset.columns[dataset.isna().any()]

Index(['calories_day', 'drink', 'meals_dinner_friend'], dtype='object')

In [7]:
dataset.describe()

            Meals  calories_day      coffee       drink  vegetable in Days
count  125.000000    114.000000  125.000000  123.000000         125.000000
mean     2.456000    411.728070    3.176000    3.869919           4.008000
std      1.310651    128.690978    2.148007    2.733998           1.081337
min      1.000000    225.000000    0.000000    0.000000           1.000000
25%      2.000000    283.500000    2.000000    2.000000           3.000000
50%      2.000000    381.000000    2.000000    3.000000           4.000000
75%      3.000000    480.000000    5.000000    6.000000           5.000000
max      8.000000    754.000000    9.000000   10.000000           5.000000

Visualization Data

Model for predict calories_day

In [8]:

encoded_gender = pd.get_dummies(dataset['Gender'], prefix='Gender')
dataset = pd.concat([dataset, encoded_gender], axis=1)

dataset['calories_day'].fillna(dataset['calories_day'].mean(),inplace=True)

x=dataset.drop(['calories_day','Gender_male','Gender','meals_dinner_friend'],axis='columns')

y=dataset.calories_day

x=x.fillna(x.mean())

In [9]:

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

print(len(x_train))
print(len(y_train))

100
100

In [10]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [11]:
y_hat=regressor.predict(x_test)

mse=mean_squared_error(y_test,y_hat)
mse

11170.162648774476

In [12]:
pickle.dump(regressor,open('IEEE.pkl','wb'))

model=pickle.load(open('IEEE.pkl','rb'))